.message{
    font-size: x-large;
    font-weight: bold;
    background-color: white;   
    padding-left: 20px;

}
.comboStyle{
    font-size: small;
    font-weight: bold;
    background-color: white;
    padding-left: 20px;

}